<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Edit Business Details</title>
  </head>
  <body>
      <div class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">WeConnect</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="register.html">Register a Business</a>
        </nav>
        <a class="btn btn-outline-primary mr-sm-2" href="signup.html">Sign up</a>
        <a class="btn btn-outline-primary" href="login.html">Login</a>
      </div>
      <section class="container" id="register-section">
        <div class="text-center">
          <p class="form-title">Update Business Details</p>
        </div>
        <form action="">
            <div class="form-group">
              <label for="inputBusiness" class="sr-only">Business Name</label>
              <input type="text" class="form-control" id="inputBusiness" placeholder="Business Name">
            </div>
            <div class="form-group">
              <label for="inputAddress" class="sr-only">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Address">
            </div>
            <div class="form-group">
              <label for="inputDescription" class="sr-only">Description</label>
              <textarea class="form-control" id="inputDescription" placeholder="Description" rows="4"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col">
                  <label for="inputEmail" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Contact Email">
                </div>
                <div class="form-group col">
                  <label for="inputPhone" class="sr-only">Phone Number</label>
                  <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                  <label for="inputCategory" class="sr-only">Example select</label>
                  <select class="form-control" id="inputCategory">
                    <option selected>Category...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group col">
                  <label for="inputLocation" class="sr-only">Location</label>
                  <input type="text" class="form-control" id="inputLocation" placeholder="Location">
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update Business</button>
        </form>
      </section>
      <footer class="container-fluid py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md">
                <small>WeConnect</small>
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Register a Business</a></li>
                  <li><a class="text-muted" href="#">Add Reviews</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Locations</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Abuja</a></li>
                  <li><a class="text-muted" href="#">Lagos</a></li>
                  <li><a class="text-muted" href="#">Kaduna</a></li>
                  <li><a class="text-muted" href="#">Kano</a></li>
                  <li><a class="text-muted" href="#">Port Harcourt</a></li>
                  <li><a class="text-muted" href="#">Onitsha</a></li>
                  <li><a class="text-muted" href="#">Owerri</a></li>
                  <li><a class="text-muted" href="#">Calabar</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Categories</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Banking</a></li>
                  <li><a class="text-muted" href="#">Education</a></li>
                  <li><a class="text-muted" href="#">Government</a></li>
                  <li><a class="text-muted" href="#">Maanufacturing</a></li>
                  <li><a class="text-muted" href="#">Information Technology</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </div>  
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script href="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>