<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Welcome to WeConnect</title>
  </head>
  <body>
      <nav class="navbar bg-secondary navbar-dark navbar-expand-md fixed-top">
          <a href="#" class="navbar-brand">WeConnect</a>
          <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav my-2 my-lg-0" id="navScrollspy">
                  <li class="nav-item mr-sm-2">
                      <a href="#" class="btn btn-outline-light">Sign in</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="btn btn-outline-light">Login</a>
                  </li>
              </ul>
          </div>
      </nav>
      <section class="jumbotron jumbotron-fluid">
          <div class="container">
            <div class="row justify-content-md-center">
                <p class="display-4">Find Businesses in Nigeria</p>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-1" type="search" placeholder="What are you looking for?">
                    <input class="form-control mr-1" type="search" placeholder="Location">
                    <input class="form-control mr-1" type="search" placeholder="Category">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
          </div>
      </section>
      <section class="container">
        <div class="row justify-content-md-center">
          <h4>Today's Top Businesses</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top img-fluid" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>          
      </section>
      <footer class="container py-5">
          <div class="row">
            <div class="col-12 col-md">
              <small>WeConnect</small>
              <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Register a Business</a></li>
                <li><a class="text-muted" href="#">Add Reviews</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Locations</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Abuja</a></li>
                <li><a class="text-muted" href="#">Lagos</a></li>
                <li><a class="text-muted" href="#">Kaduna</a></li>
                <li><a class="text-muted" href="#">Kano</a></li>
                <li><a class="text-muted" href="#">Port Harcourt</a></li>
                <li><a class="text-muted" href="#">Onitsha</a></li>
                <li><a class="text-muted" href="#">Owerri</a></li>
                <li><a class="text-muted" href="#">Calabar</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Categories</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Banking</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Maanufacturing</a></li>
                <li><a class="text-muted" href="#">Information Technology</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
              </ul>
            </div>
          </div>
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script href="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>