<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Listing Page</title>
  </head>
  <body>
      <div class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">WeConnect</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="register.html">Register a Business</a>
        </nav>
        <a class="btn btn-outline-primary mr-sm-2" href="signup.html">Sign up</a>
        <a class="btn btn-outline-primary" href="login.html">Login</a>
      </div>
      <section class="jumbotron jumbotron-fluid">
          <div class="container">
            <div class="row justify-content-md-center"  id="listForm">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control" id="search" type="search" placeholder="What are you looking for?">
                    <input class="form-control" id="location" type="search" placeholder="Location">
                    <input class="form-control mr-1" id="category" type="search" placeholder="Category">
                    <button class="btn btn-primary" id="submit" type="submit">Search</button>
                </form>
            </div>
          </div>
      </section>
      
      <section class="container" id="mainSection">
          <section class="row">
            <nav class="col-md-2">
              <div id="list-text">
                <p>Category</p>
                <hr>
                <ul class="list-unstyled text-small">
                  <li><a href="#">Education</a></li>
                  <li><a href="#">Gardening</a></li>
                  <li><a href="#">Plumbing</a></li>
                </ul>
                <p>Location</p>
                <hr>
                <ul class="list-unstyled text-small">
                  <li><a href="#">Lagos</a></li>
                  <li><a href="#">Abuja</a></li>
                  <li><a href="#">Benin</a></li>
                </ul>
              </div>
            </nav> 
            <div class="col-md-9 col-lg-10">
              <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="index.html" id="listNavText">Home</a>
              </nav>
              <div class="business-list">
                  <div class="row">
                    <div class="col-3 listcard">
                      <div class="card bg-dark text-white listcard">
                        <img class="card-img" src="image/welder.jpg" alt="Card image">
                      </div>
                    </div>
                    <div class="col-8 listcard">
                      <h5 class="listTitle"> Abe Welding Limited</h5>
                      <hr id="listRule">
                      <p class="description"><span><b>Description: </b></span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro cumque natus, aperiam adipisci quas sapiente officiis suscipit explicabo? Nam ut impedit praesentium laudantium commodi temporibus cumque sunt ipsum fugit itaque.</p>
                      <div><a href="profile.html" class="btn btn-primary btn-sm">Details</a>
                      </div>
                  </div>
              </div>
            </div>
          </section>   
      </section>
      
      <footer class="container-fluid py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md">
                <small>WeConnect</small>
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Register a Business</a></li>
                  <li><a class="text-muted" href="#">Add Reviews</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Locations</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Abuja</a></li>
                  <li><a class="text-muted" href="#">Lagos</a></li>
                  <li><a class="text-muted" href="#">Kaduna</a></li>
                  <li><a class="text-muted" href="#">Kano</a></li>
                  <li><a class="text-muted" href="#">Port Harcourt</a></li>
                  <li><a class="text-muted" href="#">Onitsha</a></li>
                  <li><a class="text-muted" href="#">Owerri</a></li>
                  <li><a class="text-muted" href="#">Calabar</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Categories</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Banking</a></li>
                  <li><a class="text-muted" href="#">Education</a></li>
                  <li><a class="text-muted" href="#">Government</a></li>
                  <li><a class="text-muted" href="#">Maanufacturing</a></li>
                  <li><a class="text-muted" href="#">Information Technology</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </div>  
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script href="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>