footer{
  background-color: darkslategrey;
  padding-top: 3rem !important;
}

h5 {
  color: whitesmoke;
}

h5 > a, h5 > a:hover{
  text-decoration: none;
  color: darkslategray;
}

img{
  max-width: 100% !important;
}

::-webkit-input-placeholder {
  line-height:100px;
}
::-moz-placeholder {
  line-height:100px;
}
:-ms-input-placeholder {
  line-height:100px;
}
:-moz-placeholder {
  line-height:100px;
}

#header{
  background-color: darkslategrey !important;
}

#footer-icon, #icon-logo{
  color: whitesmoke;
}

#main-jumbotron{
  height: 630px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ), url('../image/img1.jpg') no-repeat center center;
  background-size: cover;
  margin-top: -16px;
}

#jumbotron-content{
  margin: 140px auto;
}

#jumbotron-content > p{
  color: whitesmoke;
}

#category, #location{
  width: 20%;  
}

#search{
  width: 40%;
}

#listForm{
  margin: 18px auto;
}

#review{
  margin: 150px 0;
}

#profile{
  margin-top: 70px;
}

#submit{
  width: 19%;
  border-radius: 0px;
  padding: 14px 12px;  
  font-size: 14px;
  vertical-align: middle;
}

#list-text > ul > li{
  font-size: 13px;
}

#list-text > hr{
  margin-bottom: 0px;
}

#listNavText{
  font-size: 14px;
}

#listRule {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

#mainSection{
  max-height: 1140px;
}

#register-section{
  margin: 50px auto;
}

#inputDescription{
  height: 150px !important;
}

#profileDescription, #profileReview{
  padding: 50px;
}

#listNav{
  margin-top: 50px;
}

#searchForm{
  width: 80%;
}

.form-title{
  margin: 50px 0;
}

.form-label-group{
  margin: 10px 0;
}

.jumbotron{
  height: 200px;
}

.card-text{
  text-align: center;
}

.form-control{
  height: 50px !important;
  font-size: 14px;
  vertical-align: middle;
  background-color: whitesmoke;
  border: 1px solid #dcdfe1;
  border-radius: 0px;
  /* padding: 24px 12px; */
}

.business-list{
  height: 150px;
  margin-top: 0.5rem;
}

.business-list > .row, .listcard{
  height: 150px;
}

.card-img{
  height: 100%;
}

.card-body{
  padding: 0.5rem;
}

.description{
  font-size: 14px;
}

.text-muted {
  color: seashell !important;
}

.location-text{
  max-width: 70px !important;
}

.listTitle{  
  color: #333 !important;
}

.listingItem{
  margin: 30px 0;
}

@media screen and (max-width: 700px) {
  #searchText {
      font-size: 2rem;
      margin: 0 auto 8px;
  }
  #searchForm{
    display: block;
    width: 100%;
  }

  #searchForm > input, #searchForm > select, #searchForm > button{
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }

  #topText{
    text-align: center;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 701px) and (max-width: 768px){
  #searchText {
    font-size: 2.8rem;
    margin: 0 auto 8px;
  }
  #topText{
    text-align: center;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 991px){
  #jumbotron-content, #jumbotron-content > p, #jumbotron-content > form{
    width: 100%;
  }

  #jumbotron-content > p{
    text-align: center;
  }
}
